--extra-index-url https://download.pytorch.org/whl/cu130

kagglehub
torch==2.14.0+cu130
torchvision==0.29.0+cu130
scipy
opencv-python
albumentations
numpy
pandas
matplotlib
segmentation-models-pytorch
tqdm
Pillow
notebook
python-dotenv